<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1688129058.755722</real>
	<key>UUID</key>
	<string>EA60C97B-BAC1-4B08-9BA0-AB42148F198A</string>
</dict>
</plist>
