<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>62</integer>
	<key>Time Stamp</key>
	<real>1680509234.0499601</real>
	<key>UUID</key>
	<string>5267249B-AE15-492D-AA72-C96A8541E653</string>
</dict>
</plist>
