<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Burial Date
Hochdorf
Asperg
Histogram of burial_date_hochdorf
Histogram of burial_date_asperg

Burial Date
Hochdorf
Histogram of burial_date_hochdorf
Histogram of burial_date_asperg

Age
Mother 1st
Mother 2nd
Hochdorf
Asperg
Histogram of age_asperg
Histogram of age_hochdorf
Histogram of mother_age_asperg
Histogram of mother_age_hochdorf

Burial Date
Hochdorf
Asperg
Histogram of burial_date_hochdorf
Histogram of burial_date_asperg

Age
Mother 1st
Mother 2nd
Sister birth
Hochdorf
Asperg
Histogram of age_asperg
Histogram of age_hochdorf
Histogram of sister_age_asperg
Histogram of mother_age_sister
Histogram of mother_age_hochdorf

Age of giving birth
prob

Burial Date
Hochdorf
Asperg
Histogram of burial_date_hochdorf
Histogram of burial_date_asperg

Ages
Daughter
Mother
Hochdorf
Asperg
Histogram of age_asperg
Histogram of age_hochdorf
Histogram of mother_age_asperg
Histogram of mother_age_hochdorf
Histogram of grandmother_age_mother_hochdorf
Histogram of grandmother_age_mother_asperg

Log Likelihood
siblings
avuncular
Cousins
Histogram of lp__
Histogram of lp__
Histogram of lp__
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
